@media (min-width: 769px) {
    .acnp {
        flex-direction: row;
    }

    .acnp_cover {
        display: inline-flex;
        order: 3;
        vertical-align: top;
        justify-content: space-between;
        align-self: flex-end;
        margin: 0 0 0 5px;
    }

    .acnp_text {
        text-align: right;
    }

    .acnp_cta input {
        width: auto;
        margin: 0 0 5px 5px;
    }
}